#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tooltip {
    position: absolute;
    background-color: #f3f3f3;
    padding: 5px;
}

.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

#legend {
    height: 30px;
}